<a href="https://colab.research.google.com/github/LIMDANBI/dacon_2021/blob/main/Prediction_of_default_rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Data

In [2]:
train = pd.read_csv("dataset/train.csv")
test = pd.read_csv("dataset/test.csv")

In [3]:
train

,index,gender,Annual_income,income_type,Education,family_type,house_type,DAYS_BIRTH,working_day,FLAG_MOBIL,work_phone,phone,email,occyp_type,begin_month,car_reality,credit
0,0,F,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,-6.0,0,1.0
1,1,F,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,-5.0,1,1.0
2,2,M,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,-22.0,2,2.0
3,3,F,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,-37.0,1,0.0
4,4,F,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,-26.0,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26452,26452,F,225000.0,State servant,Secondary / secondary special,Married,House / apartment,-12079,-1984,1,0,0,0,Core staff,-2.0,0,1.0
26453,26453,F,180000.0,Working,Higher education,Separated,House / apartment,-15291,-2475,1,0,0,0,NaN,-47.0,1,2.0
26454,26454,F,292500.0,Working,Secondary / secondary special,Civil marriage,With parents,-10082,-2015,1,0,0,0,Core staff,-25.0,1,2.0
26455,26455,M,171000.0,Working,Incomplete higher,Single / not married,House / apartment,-10145,-107,1,0,0,0,Laborers,-59.0,1,2.0
26456,26456,F,81000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-19569,-1013,1,0,0,0,Security staff,-9.0,0,2.0

In [4]:
test

,index,gender,Annual_income,income_type,Education,family_type,house_type,DAYS_BIRTH,working_day,FLAG_MOBIL,work_phone,phone,email,occyp_type,begin_month,car_reality
0,26457,M,112500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,-21990,0,1,0,1,0,NaN,-60.0,1
1,26458,F,135000.0,State servant,Higher education,Married,House / apartment,-18964,-8671,1,0,1,0,Core staff,-36.0,1
2,26459,F,69372.0,Working,Secondary / secondary special,Married,House / apartment,-15887,-217,1,1,1,0,Laborers,-40.0,1
3,26460,M,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-19270,-2531,1,1,0,0,Drivers,-41.0,1
4,26461,F,225000.0,State servant,Higher education,Married,House / apartment,-17822,-9385,1,1,0,0,Managers,-8.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,36452,F,202500.0,Working,Incomplete higher,Married,House / apartment,-18593,-5434,1,1,1,0,Accountants,-19.0,2
9996,36453,M,202500.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-10886,-1315,1,1,0,0,Laborers,-34.0,2
9997,36454,F,292500.0,Working,Secondary / secondary special,Married,House / apartment,-21016,-14018,1,0,0,0,Medicine staff,-55.0,1
9998,36455,F,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-16541,-1085,1,0,1,0,NaN,-33.0,1
9999,36456,F,270000.0,Working,Higher education,Married,House / apartment,-9154,-187,1,0,0,1,Laborers,-11.0,1

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   Annual_income  26457 non-null  float64
 3   income_type    26457 non-null  object
 4   Education      26457 non-null  object
 5   family_type    26457 non-null  object
 6   house_type     26457 non-null  object
 7   DAYS_BIRTH     26457 non-null  int64
 8   working_day    26457 non-null  int64
 9   FLAG_MOBIL     26457 non-null  int64
 10  work_phone     26457 non-null  int64
 11  phone          26457 non-null  int64
 12  email          26457 non-null  int64
 13  occyp_type     18286 non-null  object
 14  begin_month    26457 non-null  float64
 15  car_reality    26457 non-null  int64
 16  credit         26457 non-null  float64
dtypes: float64(3), int64(8), object(6)
memory usage: 3.4+ MB

In [6]:
train.isnull().sum()

index               0
gender              0
Annual_income       0
income_type         0
Education           0
family_type         0
house_type          0
DAYS_BIRTH          0
working_day         0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       8171
begin_month         0
car_reality         0
credit              0
dtype: int64

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          10000 non-null  int64
 1   gender         10000 non-null  object
 2   Annual_income  10000 non-null  float64
 3   income_type    10000 non-null  object
 4   Education      10000 non-null  object
 5   family_type    10000 non-null  object
 6   house_type     10000 non-null  object
 7   DAYS_BIRTH     10000 non-null  int64
 8   working_day    10000 non-null  int64
 9   FLAG_MOBIL     10000 non-null  int64
 10  work_phone     10000 non-null  int64
 11  phone          10000 non-null  int64
 12  email          10000 non-null  int64
 13  occyp_type     6848 non-null   object
 14  begin_month    10000 non-null  float64
 15  car_reality    10000 non-null  int64
dtypes: float64(2), int64(8), object(6)
memory usage: 1.2+ MB

In [8]:
test.isnull().sum()

index               0
gender              0
Annual_income       0
income_type         0
Education           0
family_type         0
house_type          0
DAYS_BIRTH          0
working_day         0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       3152
begin_month         0
car_reality         0
dtype: int64

In [9]:
train.describe()

,index,Annual_income,DAYS_BIRTH,working_day,FLAG_MOBIL,work_phone,phone,email,begin_month,car_reality,credit
count,26457.000000,2.645700e+04,26457.000000,26457.000000,26457.0,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000
mean,13228.000000,1.873065e+05,-15958.053899,-2198.529538,1.0,0.224742,0.294251,0.091280,-26.123294,1.053672,1.519560
std,7637.622372,1.018784e+05,4201.589022,2370.140530,0.0,0.417420,0.455714,0.288013,16.559550,0.669144,0.702283
min,0.000000,2.700000e+04,-25152.000000,-15713.000000,1.0,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000
25%,6614.000000,1.215000e+05,-19431.000000,-3153.000000,1.0,0.000000,0.000000,0.000000,-39.000000,1.000000,1.000000
50%,13228.000000,1.575000e+05,-15547.000000,-1539.000000,1.0,0.000000,0.000000,0.000000,-24.000000,1.000000,2.000000
75%,19842.000000,2.250000e+05,-12446.000000,-407.000000,1.0,0.000000,1.000000,0.000000,-12.000000,2.000000,2.000000
max,26456.000000,1.575000e+06,-7705.000000,0.000000,1.0,1.000000,1.000000,1.000000,0.000000,2.000000,2.000000

In [10]:
for col in list(train.columns):
    print(train[col].unique())

[    0     1     2 ... 26454 26455 26456]
['F' 'M']
[ 202500.   247500.   450000.   157500.   270000.   315000.   180000.
  103500.   193500.   135000.   216000.   225000.   405000.   112500.
  121500.   585000.    90900.    99000.    67500.   292500.    90000.
  495000.    54000.   306000.   130500.   144000.   360000.    40500.
   81000.   351000.   184500.    45000.    79650.   153000.   126000.
  382500.   283500.   175500.   297000.   387000.   337500.   256500.
   72000.   540000.   155250.   189000.   139500.   459000.   720000.
  252000.   171000.   427500.    78750.    94500.   562500.   238500.
  630000.    76500.   301500.   229500.   148500.   166500.   463500.
  432000.   117000.   787500.   234000.   108000.   279000.   900000.
  378000.    31500.    29250.   211500.   207000.    49500.    65250.
  265500.   261000.   162000.   310500.   373500.   140850.   123750.
  191250.    58500.   198000.    83250.    87448.5  391500.   716323.5
  675000.    85500.   990000.   274500.    56250.    92250.    50850.
  185400.   140400.   187650.    47250.   324000.   243000.    97731.
   37800.   612000.   171261.    73350.  1575000.   222750.   129150.
  131400.   267750.   288000.   145350.    56700.    33750.   114750.
  179100.   326250.   652500.    33300.   134419.5  115290.   220500.
  342000.    63000.    38025.    95850.   945000.   167400.   101250.
  143100.    74250.   208350.   231750.    30150.   418500.   634500.
  423000.    69372.    36900.   113400.    38250.   742500.   517500.
   60750.   560250.   206100.   122400.    62653.5  119250.   196650.
  333000.    67050.   369000.   121900.5  810000.    31531.5  173250.
  445500.   110250.   133650.   190399.5  240750.   249750.    69750.
  328500.   360450.   355500.    72900.   150750.   257625.   161100.
  616500.   765000.   396000.   472500.   364500.   255150.    27000.
  594000.   124200.   139050.    46948.5  132750.   134995.5  178650.
   38700.    61875.   204750.   128542.5  253800.   119700.   176400.
  468000.   165600.    36000.   116100.    74700.   132372.    39600.
   62100.   175950.   346500.   141750.    60376.5  254700.   151200.
   32400.   661500.   441000.    45900.   176175.   118350.   178200.
   57150.   494100.    51750.   120150.   227250.    97650.   215100.
  531000.   184135.5  177750.    87750.    82350.   159750.   607500.
  147150.   165150.   414000.   146250.   168750.   697500.   213750.
  116653.5   99900.  1125000.    44550.    91530.   105750.   170302.5
 1350000.   179271.   234135.   191700. ]
['Commercial associate' 'Working' 'State servant' 'Pensioner' 'Student']
['Higher education' 'Secondary / secondary special' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
['Married' 'Civil marriage' 'Separated' 'Single / not married' 'Widow']
['Municipal apartment' 'House / apartment' 'With parents'
 'Co-op apartment' 'Rented apartment' 'Office apartment']
[-13899 -11380 -19087 ... -24510 -11536 -19912]
[-4709 -1540 -4434 ... -1620 -2960 -4973]
[1]
[0 1]
[0 1]
[0 1]
[nan 'Laborers' 'Managers' 'Sales staff' 'High skill tech staff'
 'Core staff' 'Drivers' 'Medicine staff' 'Accountants' 'Realty agents'
 'Security staff' 'Cleaning staff' 'Private service staff' 'Cooking staff'
 'Secretaries' 'HR staff' 'IT staff' 'Low-skill Laborers'
 'Waiters/barmen staff']
[ -6.  -5. -22. -37. -26. -18. -41. -53. -38. -40. -51. -60.  -2. -14.
  -7. -35.  -4. -13. -57. -47. -33. -30. -20.  -8. -39. -21. -19. -24.
 -48. -12. -10. -42. -29.  -3. -23. -25.  -1. -15. -32. -59. -54. -34.
   0. -27. -45. -56. -46.  -9. -44. -36. -43. -49. -11. -55. -58. -28.
 -52. -17. -50. -16. -31.]
[0 1 2]
[1. 2. 0.]

In [11]:
train['occyp_type'] = train['occyp_type'].fillna('Null')
test['occyp_type'] = test['occyp_type'].fillna('Null')

In [12]:
train.isnull().sum()

index            0
gender           0
Annual_income    0
income_type      0
Education        0
family_type      0
house_type       0
DAYS_BIRTH       0
working_day      0
FLAG_MOBIL       0
work_phone       0
phone            0
email            0
occyp_type       0
begin_month      0
car_reality      0
credit           0
dtype: int64

In [13]:
test.isnull().sum()

index            0
gender           0
Annual_income    0
income_type      0
Education        0
family_type      0
house_type       0
DAYS_BIRTH       0
working_day      0
FLAG_MOBIL       0
work_phone       0
phone            0
email            0
occyp_type       0
begin_month      0
car_reality      0
dtype: int64

In [14]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

# Model - RandomForestClassifier

In [15]:
train_x=train.drop('credit', axis=1)
train_y=train[['credit']]
test_x=test

In [16]:
print(train_x.shape, train_y.shape, test.shape)

(26457, 52) (26457, 1) (10000, 52)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, log_loss
from sklearn.metrics import f1_score
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split


X_train, X_val, y_train, y_val = train_test_split(train_x, train_y, 
                                                    stratify=train_y,
                                                  test_size=0.2,
                                                    random_state = 10086)

print("Train set: ")
print(X_train.shape)
print(y_train.shape)
print("===========")
print("Validation set: ")
print(X_val.shape)
print(y_val.shape)


clf=RandomForestClassifier()
clf.fit(X_train, y_train)
y_pred=clf.predict_proba(X_val)

print(f"log_loss: {log_loss(to_categorical(y_val['credit']), y_pred)}")

Train set:
(21165, 52)
(21165, 1)
===========
Validation set:
(5292, 52)
(5292, 1)

/var/folders/wc/qvzfbr3n257938b_6zb2g1q40000gn/T/ipykernel_19982/3849567992.py:23: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train, y_train)

log_loss: 0.7928477426327026

In [18]:
pred = clf.predict_proba(test_x)

In [19]:
submission.head()

NameError: name 'submission' is not defined

In [ ]:
submission.loc[:,1:] = pred

In [ ]:
submission

In [ ]:
# submission.to_csv('/content/drive/MyDrive/dacon_2021/베이스라인.csv',index=False)

# Model - LogistiRegression

In [ ]:
from sklearn.linear_model import LogisticRegression

X_train, X_val, y_train, y_val = train_test_split(train_x, train_y, 
                                                    stratify=train_y,
                                                  test_size=0.2,
                                                    random_state = 10086)

# 모델 생성 및 학습 시키기
logistic = LogisticRegression()
logistic.fit(X_train, y_train)

# 결과 확인
print("validation 데이터셋 정확도:", logistic.score(X_val, y_val))

y_pred=clf.predict_proba(X_val)
print(f"log_loss: {log_loss(to_categorical(y_val['credit']), y_pred)}")